.input {
  font-size: 1.8rem;
  width: 75%;
  height: 5rem;
  border: none;
  padding-left: 1.5rem;
  border-radius: 5px;
  background-color: var(--page-color);
 transition: all .1s ease-in-out;
}

.input:focus {
  outline: var(--post-btn-color-hover) 2px solid;
  transition: outline .1s ease-in-out;
}

.input:focus::placeholder {
  color: var(--dark-grey-color);
  transition: all .1s ease-in-out;
}