.open {
  display: flex;
  flex-direction: column;
  max-height: 65rem;
  border-bottom: var(--grey-color) 1px solid;
  overflow: scroll;
  padding: 2rem 2rem;
  transition: all .4s ease;
}

.close {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  padding: 0 10rem ;
  transition: all .4s ease;
}