#comment-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: .5rem 0;
  transition: width 10s ease-in-out;
    /* border: BLUE 1px solid ; */
}

/*---------------*/
/* RIGHT VERSION */
/*---------------*/

#comment-avatar-and-message.right {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
}

#comment-owner-and-time.right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#comment-owner-username.right,
#comment-counters.right {
  text-align: right;
  /* border: red 1px solid ; */
}

/*------------------------*/
/* comment-owner-and-time */
/*------------------------*/

#comment-owner-and-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin: 0 7rem;
  padding: 0 2rem;
  
  /* border: red 1px solid ; */

}

#comment-owner-username {
  font-size: 1.5rem;
  padding-bottom: .25rem;
}

#comment-owner-and-time time{
  font-size: 1rem;
    /* border: red 1px solid ; */
}



/*----------------------------*/
/* comment-avatar-and-message */
/*----------------------------*/

/* avatar */

#comment-avatar-and-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: .3rem 0;
  gap: 2rem;

  /* border: red 1px solid ; */
}

#comment-avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  /* border: red 1px solid ; */
}
#comment-avatar-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border:  .15rem solid #3d3d3d;
  border-radius: 50px;
  /* border: red 1px solid ; */
}


/* message */


#comment-message-container {
  width: 60%;
  padding: 3rem 3rem;
  border-radius: 15px;
  background-color: var(--page-color) ;
  box-shadow: var(--shadow-settings);
  /* border: red 1px solid ; */
}

#comment-message-container .comment-message {
  font-size: 1.7rem;
}

/*-------------*/
/* LIKE BUTTON */
/*-------------*/


#comment-counters {
  margin: 0 7rem;
  padding: 0 2rem;
  /* border: red 1px solid ; */
}

#comment-counters button {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
}

#comment-counters button:hover {
  color: var(--post-btn-color-hover);
  transition: all .1s ease-in-out;
}

#comment-counters button:active {
  color: var(--post-btn-color);
  transition: all .1s ease-in-out;
}