.header--container {
  background-color: var(--navbar-color);
  box-shadow: var(--shadow-settings);
  margin-bottom: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: var(--shadow-settings);
}

.header--title {
  color: var(--text-white);
  display: flex;
  direction: row;
  align-items: center;
  justify-content: center;
  max-width: var(--container-max-width);
  gap: 5rem;
  height: 7rem;
  padding: 0 2rem;
  margin: auto;
}

.header--title h1 {
  font-size: 2rem;
}