.prompt__message {
  font-size: 1.5rem;
}
.prompt__link:link,
.prompt__link:visited {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
}
.prompt__link:hover {
  color: var(--post-btn-color-hover);
  transition: all .15s ease-in-out;
}