.post-content__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.post-content__text {
  background-color: var(--primary-color);
  width: 100%;
  font-size: 2rem;
  padding: 1.5rem 1rem 2.5rem 1rem;
}

.post-content__image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--grey-color) .5px solid;
}

.post-content__image img {
  width: 100%;
  object-fit: cover;
}