#feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  }

#post-container {
  background-color: var(--primary-color);
  min-height: 10vh;
  width: 100%;
  padding: 1rem 2rem;
  box-shadow: var(--shadow-settings);
  border-radius: 3px;
  margin: auto;
}

/*-------------------*/
/*   POST COUNTERS   */
/*-------------------*/
