.navbar__btn {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--text-white);
  background-color: transparent;
  border: none;
  height: 90%;
  width: 8rem;
  font-weight: 500;
}

.navbar__btn:hover {
  color: var(--post-btn-color-hover);
  transition: background-color .15s ease-in-out;
}