:root {
  --page-color: #f0f0f0;
  --primary-color: #fff;
  --secondary-color: #27b99a;
  --grey-color: rgb(201, 201, 201);
  --dark-grey-color: rgb(186, 186, 186);

  --navbar-color: #3d3d3d;
  --navbar-color-hover: #504f4f;

  --post-btn-color: #27b99a;
  --post-btn-color-hover: #3edab8;

  --upload-photo-color: #2c8ac8;
  --upload-photo-hover: #3999d9;

  --text-white: #ffffff;
  --text-black: #3d3d3d;

  --shadow-color: rgb(175, 175, 175);
  --shadow-settings: 0px 0px 3px var(--shadow-color);

  --comment-grow-animation: all .4s ease-out; 
  --comment-shrink-animation: all .7s ease-out; 

  --container-max-width: 900px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--page-color);
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
